body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
/*MENÚ DE NAVEGACIÓN*/
header{
    width: 100%;
    height: 60px;
}
header nav{
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section{
    width: 100%x;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
a{
    text-decoration: none;
}
nav .nav-right-section a{
    margin-right: 25px;
    color: rgba(0, 0, 0, .87);
}
nav .nav-right-section .menu {
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    background-size: contain;
}
nav .nav-right-section img{
    width: 35px;
    height: 35px;
    margin-left: 20px;
    border-radius: 30px;
}
/*BUSCADOR*/
main{
margin-top: 150px;
text-align: center;
}
main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-logo img{
    height: 100px;
}
main .main-input{
    width: 530px;
    margin: 0 auto;
}
main .main-input-container{
    border: 1px solid #dfe1e5;
    width: 525px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
main .main-input input{
    border: none;
    height: 40px;
    outline: none;
    width: 480px;
}
main .main-input-container:hover{
    border-color: #dfe1e500;
    box-shadow: 0px 1px 6px 1px #20212447;
}
main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-position: center;
    background-size: contain;
    height: 14px;
    padding-left: 8%;
    background-repeat: no-repeat;
}
main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    background-position: center;
    background-size: contain;
    height: 14px;
    padding-right: 4%;
    background-repeat: no-repeat;
}
main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    background-position: center;
    background-size: contain;
    height: 14px;
    padding-right: 8%;
    background-repeat: no-repeat;
}
main .main-buttons{
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div{
    display: inline-block;
}
main .main-buttons button{
    border: 0;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #3c4043;
    height: 35px;
    border-radius: 10px;
    padding: 0 15px;
    margin-right: 15px;
}
main .main-buttons button:hover{
    border-color: #dfe1e500;
    box-shadow: 0px 1px 6px 1px #20212447;
}
main .main-buttons button:active{
    border-color: blue;
    padding: 30px;
    transition-duration: 2s;
    border: 2px solid blue;
}
/*FOOTER*/
footer{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
}
footer .region{
    display: flex;
    font-size: 14px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    height: 30px;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
footer .region a{
    margin: 20px;
    color: #5f6368;
}
footer .menu-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 14px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 50px;
}
footer .menu-bottom ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 1px;
}
footer .menu-bottom .footer-left{
    justify-self: left;
}
footer .menu-bottom .footer-right{
    justify-self: right;
}
footer .menu-bottom ul li a{
    margin: 10px;
    color: #5f6368;
}